.fullPage {
  min-height: 100vh;
  background-image: url(https://res.cloudinary.com/mimas-music/image/upload/v1601480303/Grizzle/blueTexturedBackground.webp);
}


.grid3column {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.heading,
.welcome {
  text-align: center;
}

.heading {
  font-family: 'Marvin';
  font-size: 25vw;
  color: var(--green);
}

.welcome {
  color: var(--text-lighter);
}

.loginButtons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.linkContainer svg {
  font-size: 5rem;
  color: var(--orange-light);
  width: 100vw;
  margin: 0 auto;
}

.linkText {
  color: var(--blue);
  cursor: pointer;
  text-align: center;
}